{% extends "base.html" %}
{% block head %}
{{super()}}
{% endblock %}
{% block page_content %}
<br><br>
<div class="container">
  <div class="row">
	<div class="col-sm-2">
    <ul class="nav nav-stacked">
      <li><a href="#"><span class="glyphicon glyphicon-search"></span> Find learnifyer</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-th"></span> Browse learnifyers</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-plus"></span> Create learnifyers</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-th-list"></span> My learnifyers</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-star-empty"></span> Favorites </a></li>
    </ul>
  </div>
  <div class="col-sm-8">
  </div>
  <div class="col-sm-2">
  </div>
  </div>
{% endblock %}
