{% extends "base.html" %}
{% block head %}
{{super()}}
{% endblock %}
{% block page_content %}
<style>
  .table td {
    text-align: center;
  }
</style>
          <br><br>
          <table class="table table-striped">
            <thead>
              <tr>
                <td><b>Rank</b></td>
                <td><b>Name</b></td>
                <td><b>Score</b></td>
              </tr>
            </thead>
            <tbody>
                 {% set count = 1 %}
                 {% for user in users %}
                <tr class="info">
                  <td>{{ count }}</td>
                  {% set count = count + 1 %}
                  <td>{{ user.username }}</td>
                  <td>{{ user.score }}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
{% endblock %}
